@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
    }
    @font-face {
      * {
        font-family: 'Noto Sans';
        font-weight: 400;
        font-style: normal;  } }
    
    @font-face {
      * {
        font-family: 'Noto Sans';
        font-weight: 500;
        font-style: normal;  } }
    
    @font-face {
      * {
        font-family: 'Noto Sans';
        font-weight: 600;
        font-style: normal;  } }
    
    
    }